body {
  background-color: #083b4c;
  font-family: sans-serif;
}

h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  margin: 20px 0;
}

.section {
  margin: 0 auto;
  max-width: 700px;
}

.section .row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.section .row .square {
  height: 80px;
  width: 80px;
  margin: 10px;
}

.classic {
  background-color: #1389b2;
}

.fizz {
  background-color: #0ad6a1;
}

.buzz {
  background-color: #ffd166;
}

.fizzbuzz {
  background-color: #f0466f;
}
